{% extends 'base.html' %}

{% block title %}
    {{ profile.first_name }}
{% endblock %}

{% block content %}

    <div class="profile-header row">
        {% csrf_token %}
        <div class="col-md-3">
            <div class="avatar">
                {% if profile.profile.avatar %}
                    <img src="{{ profile.profile.avatar.url }}" alt="">
                {% else %}
                    <i class="fa fa-linux profile-avatar"></i>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile row">
                <span class="username col-md-3">{{ profile.username }}</span>
                <div class="subscription col-md-9">
                    {% if profile.pk != user.pk  and user.is_authenticated %}
                        <input type="hidden" id="profile_id" value="{{ profile.pk }}">
                        {% if user.profile in profile.profile.followers.all %}
                            <button id="subscribe" class="subscription btn btn-sm btn-dark">Отписаться</button>
                        {% else %}
                            <button id="subscribe" class="subscription btn btn-sm btn-dark">Подписаться</button>
                        {% endif %}
                    {% elif profile.pk == user.pk %}
                        <a id="new_post" href="{% url 'insta:add' %}" class="btn btn-sm btn-dark">
                            Новая публикация
                        </a>
                        <a href="{% url 'accounts:edit' %}" class="btn btn-sm btn-dark">
                            Изменить
                        </a>
                        <a class="btn btn-sm btn-dark" href="{% url 'accounts:change_password' %}">Изменить пароль</a>
                    {% endif %}
                </div>
            </div>
            <div class="counters d-flex d-flex justify-content-between">
                <span class="counter col-md-3 ">
                    Публикации
                    <span class="count" id="post_count">{{ posts_count }}</span>
                </span>
                {% if user.is_authenticated %}
                    <a class="counter" href="#" id="followers">
                        Подписчики
                        <span id="followers_count" class="count">{{ profile.profile.followers_count }}</span>
                    </a>
                    <a class="counter" href="#" id="subscriptions">
                        Подписки
                        <span class="count">{{ profile.profile.subscriptions_count }}</span>
                    </a>
                {% else %}
                    <a class="counter" href="{% url 'accounts:login' %}?next={{ request.path }}">
                        Подписчики
                        <span id="followers_count" class="count">{{ profile.profile.followers_count }}</span>
                    </a>
                    <a class="counter" href="{% url 'accounts:login' %}?next={{ request.path }}">
                        Подписки
                        <span class="count">{{ profile.profile.subscriptions_count }}</span>
                    </a>
                {% endif %}
                <div id="users">

                </div>
            </div>
            <div class="full-name">
                {{ profile.first_name }} {{ profile.last_name }}
            </div>
        </div>
    </div>
    <hr>
    <div class="posts d-flex flex-wrap justify-content-between">
        {% for post in profile.posts.all %}
            <div id="post_{{ post.id }}" class="profile-post">
                <img src="{{ post.image.url }}" id="post_image_{{ post.id }}" alt="{{ post.title }} photo">
                <div class="post-counters">
                    <div class="post-counters-links">
                        <a href="{% url 'insta:post' post.id %}" class="post-link details">
                            <i class="fa fa-link"></i>
                        </a>
                        {% if user.is_authenticated %}
                            <a href="#" id="{{ post.pk }}" class="post-link like">
                                <i class="fa fa-heart"> {{ post.likes_count }}</i>
                            </a>
                            <a href="{% url 'insta:post' post.id %}" class="post-link details">
                                <i class="fa fa-comment"> {{ post.comments_count }}</i>
                            </a>
                            {% if profile.pk == user.pk %}
                                <a href="{% url 'insta:edit' post.id %}" class="post-link edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="#{{ post.id }}" data-toggle="modal" data-target="#delete_modal"
                                   id="{{ post.id }}" class="post-link delete">
                                    <i class="fa fa-trash"></i>
                                </a>
                            {% endif %}
                        {% else %}
                            <span class="post-link like">
                                <i class="fa fa-heart"> {{ post.likes.count }}</i>
                            </span>
                            <a href="{% url 'insta:post' post.id %}" class="post-link">
                                <i class="fa fa-comment"> {{ post.comments.count }}</i>
                            </a>

                        {% endif %}


                    </div>
                </div>

            </div>
        {% empty %}
            <p id="post_empty">Пользователь еще не опубликовал ни одной записи</p>
        {% endfor %}

    </div>
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title">Вы действительно хотите удалить публикацию?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="" id="confirmation_image" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button id="confirm_delete" type="button" class="btn btn-dark" data-dismiss="modal">Удалить</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        let subscriptions = $("#subscriptions");
        let followers = $("#followers");
        let users = $("#users");
        let profile_id = '{{ profile.pk }}'

        function get_subscriptions(is_follower) {
            let url = `/users/${profile_id}/subscr`
            if (is_follower) {
                url += '?followers=true'
            } else {
                url += "?subscriptions=true"
            }
            $.ajax({
                url: url
            }).done(function (data) {
                users.show()
                users.html(data['html_response'])
            })
        }

        subscriptions.click(function () {
            get_subscriptions(false)
        })
        followers.click(function () {
            get_subscriptions(true)
        })
        users.click(function (event) {
            event.stopPropagation();
        });
        $(window).click(function () {
            users.hide(500)
            users.delay(500).html('')
        });
    </script>
    <script>
        let image_path = "";
        let post_id = 0;
        $(".delete").on('click', function () {
            let btn_id = $(this).attr("id")
            image_path = $("#post_image_" + btn_id).attr("src")
            $("#confirmation_image").attr("src", image_path)
            $("#confirm_delete").attr('name', btn_id)
        })
        $("#confirm_delete").on('click', function () {
            post_id = $(this).attr('name')
            $.ajax({
                url: `/posts/${post_id}/delete`,
                type: 'POST',
                headers: {'X-CSRFToken': getCSRFTokenValue()}
            }).done(function (data) {
                console.log(data['is_deleted']===true)
                if (data['is_deleted']===true){
                    $(`#post_${post_id}`).remove()
                    let post_counter = $("#post_count")
                    let res = parseInt(post_counter.text())
                    post_counter.text(--res)
                }

            })
        })
    </script>
{% endblock %}