<div class="row d-flex justify-content-between">
    <div class="post" id="post_{{ post.id }}">
        {% csrf_token %}
        <div class="main">
            <div class="post-heading">
                <a href="{% url 'insta:profile' post.creator.pk %}" class="profile-link">
                    {% if post.creator.profile.avatar %}
                        <img src="{{ post.creator.profile.avatar.url }}" alt="">
                    {% else %}
                        <i class="fa fa-linux"></i>
                    {% endif %}
                    <span class="username">{{ post.creator.username }}</span>
                </a>
            </div>
            <div class="media">
                <a href="{% url 'insta:post' post.id %}" class="post-link">
                    <img src="{{ post.image.url }}" alt="">
                </a>
            </div>
            <p class="counters">
                {% if user.is_authenticated %}
                    <a href="#" id="{{ post.pk }}" class="post-link like">
                        <i class="fa fa-heart"> {{ post.likes_count }}</i>
                    </a>
                    <a href="{% url 'insta:post' post.id %}" class="post-link">
                        <i class="fa fa-comment"> {{ post.comments_count }}</i>
                    </a>
                {% else %}
                    <span class="post-link like">
                        <i class="fa fa-heart"> {{ post.likes_count }}</i>
                    </span>
                    <a href="{% url 'insta:post' post.id %}" class="post-link">
                        <i class="fa fa-comment"> {{ post.comments_count }}</i>
                    </a>
                {% endif %}
            </p>
        </div>
        <div class="post-footer">
            <p class="title">
                <a class="post-footer-link"
                                href="{% url 'insta:profile' post.creator.pk %}">
                    {{ post.creator.username }}
                </a>
                <span class="title_text">{{ post.title }}</span>
            </p>
            <p class="description">{{ post.description }}</p>
            <div class="comments {{ comments_class }}" id="comments-{{ post.id }}">
                {% for comment in post.comments.all|slice:":5" %}
                    {% include 'partial/comment/_comment.html' with comment=comment %}
                {% empty %}
                    <p class="no-comments">Комментарии отсутствуют ....</p>
                {% endfor %}
                {% include 'partial/comment/_add_comment.html' with id=post.id %}
            </div>
        </div>
    </div>
</div>
